*{
  margin: 0;
  padding: 0;
 }

 .heading{
      background-color: dimgrey;
      padding: 15px;
        }

.clr1{
   color:aliceblue;
   display:inline-block;
    }
     
.clr2{
   color:burlywood;
   display:inline-block;
   margin-left:36%;
     }

.clr3{
   color:aliceblue;
   display:inline-block;
   margin-left:33%;
     }

.heading2{
           background-color:white; 
           display:flex;
           
         }

.home{
      display:inline-block;
      background-color:aquamarine;
      padding: 20px;
      color:black;
      width: 80px;
      padding-left: 30px;
      padding-right:15px;
    
     }
     
.midpara{
      display:inline-block;
      padding: 20px;
      margin-left:32% ;
        }

.menu{
      
      display:inline-block;
      background-color:aquamarine;
      padding: 20px;
      margin-left:auto;
      position:absolute;
      top: 68px;
      right:0;
      
     }

.log{
     margin-top: 20px;
     cursor:pointer;
     
    }
.lr{
     text-decoration:none;
     color:black;
}

.more{
     margin-top:12px;
     cursor:pointer;
    }

details{
      padding-left:12px;
       }

summary{
     cursor:pointer;
       }

.topline{
      width: 100%;
     height:8px;
     background-color:dimgrey;
     margin-top:40px;
        }



.uper{
     background-color:white;
     }
     

.leather{
        display:inline-block;
         border: 3px solid black;
         border-radius:10px;
         padding:10px;
       }
img{
     width: 500px;
     height: 350px;
     }

.leather{
        margin-top:4%;
        margin-left:35%;
        }
.center{
      margin-left:13px ;
      margin-top:5%;
      margin-bottom:2%;
       }
 
.botomline{
     width: 100%;
     height:8px;
     background-color:dimgrey;
     margin-top:4%;
}



  



    






