*{
  margin: 0;
  
 }

 .heading{
      background-color: dimgrey;
      padding: 15px;
        }

.clr1{
   color:aliceblue;
   display:inline-block;
    }
     
.clr2{
   color:burlywood;
   display:inline-block;
   margin-left:36%;
     }

.clr3{
   color:aliceblue;
   display:inline-block;
   margin-left:33%;
     }

.heading2{
           background-color:white;
           display:flex; 
   
           
         }
.rd1{
  text-decoration:none;
     }
.home{
       display:inline-block;
      background-color:aquamarine;
      padding: 20px;
      color:black;
      width: 80px;
      padding-left: 30px;
      padding-right:15px;
    }
     
.midpara{
      display:inline-block;
      padding: 20px;
      margin-left:32% ;
      margin-top:100px;
      color:cadetblue;
        }

.menu{
      
      display:inline-block;
      background-color:aquamarine;
      padding: 20px;
      margin-left:auto;
      position:absolute;
      top: 68px;
      right:0;
      
     }

.log{
     margin-top: 20px;
     cursor:pointer;
    }

.more{
     margin-top:12px;
     cursor:pointer;
    }

details{
      padding-left:12px;
       }

summary{
     cursor:pointer;
       }
.border1{
            margin-top: 3%;
            }

 .rd{
     text-decoration:none;
     color:black;
    }

.b1{
    border:3px solid black;
    
    border-radius:10px;
    padding:10px;
    margin-left: 41%;
    margin-right: 37.3%;
    padding-left:115px;
    background-color:aquamarine;
   
   }
.b2{
    border:3px solid black;
    border-radius:10px;
    margin-top:40px;
    padding:10px;
    margin-left: 41%;
    margin-right: 37.3%;
    padding-left:110px;
    background-color:aquamarine;
    }
 
.Enter{
        font-size: 20px;
      }

.lr{
      color:black;
      text-decoration:none;
    }
.from{
       border-radius:10px;
       border:2px solid black;
       display:inline-block;
       padding: 40px;
       padding-bottom:80px;
       background-color:azure;
       margin-left:37%;
       margin-top:2%;  
     }

.lp3{
     margin-top: 30px;
  
  

    }

    .lp2{
     padding:6px;
     margin-top:8px;
    }

.lp4{ 
      font-size:25px;
      width:30%;
      padding:4px;
      border-radius:5px;
      margin-left:33%;
      margin-top:12%;
      color:dimgrey;
      background-color:aqua;
    }
.lp5{
      padding-top:50px;
    }

.lp6{
      padding-top:10px;    
    }

.select1 
         {
            padding:6px;
            margin-top:2px;
         }

.spaceperp
          {
            height:180px;
          }

