*{
  margin: 0;
  
 }

 .heading{
      background-color: dimgrey;
      padding: 15px;
        }

.clr1{
   color:aliceblue;
   display:inline-block;
    }
     
.clr2{
   color:burlywood;
   display:inline-block;
   margin-left:36%;
     }

.clr3{
   color:aliceblue;
   display:inline-block;
   margin-left:33%;
     }

.heading2{
           background-color:white;
           display:flex; 
   
           
         }
.rd1{
  text-decoration:none;
     }
.home{
       display:inline-block;
      background-color:aquamarine;
      padding: 20px;
      color:black;
      width: 80px;
      padding-left: 30px;
      padding-right:15px;
    }
     
.midpara{
      
      padding: 20px;
      margin-left:32% ;
      margin-top:100px;
      color:cadetblue;
      display:none;
        }

.mcenter
         {
           text-align:center;
           margin:60px;
           color:cadetblue;
         }

.mcenter2
         {
           text-align:center;
           margin:40px;
           color:cadetblue;
         }

         
.menu{
      
      display:inline-block;
      background-color:aquamarine;
      padding: 20px;
      margin-left:auto;
      position:absolute;
      top: 68px;
      right:0;
      
     }

.log{
     margin-top: 20px;
     cursor:pointer;
    }

.more{
     margin-top:12px;
     cursor:pointer;
    }

details{
      padding-left:12px;
       }

summary{
     cursor:pointer;
       }


 .rd{
     text-decoration:none;
     color:black;
    display:inline-block;
    border-radius:10px;
    border:3px solid black;
    background-color:aqua;
     padding:6px;
     padding-left:52px;
     padding-right:52px;
    }

.rd2{
     text-decoration:none;
     color:black;
    display:inline-block;
    border-radius:10px;
    border:3px solid black;
    background-color:aqua;
     padding:6px;
        padding-left:50px;
     padding-right:50px;
    }

.div11
      {
        text-align:center;
       
      }

.div12
      {
        text-align:center;
        margin-top:25px;
      }
 
.Enter{
        font-size: 20px;
        text-align:center;
      
      }

.lr{
      color:black;
      text-decoration:none;
    }
.from{
       border-radius:10px;
       border:2px solid black;
       display:inline-block;
       padding: 40px;
       padding-bottom:80px;
       background-color:azure;
       
       margin-top:2%;  
     }

.lp3{
     margin-top: 30px;
     text-align:left;
  
  

    }

    .lp2{
     padding:6px;
     margin-top:8px;
    }

.lp4{ 
      font-size:25px;
      width:30%;
      padding:4px;
      border-radius:5px;
      margin-top:12%;
      color:dimgrey;
      background-color:aqua;
      
    }
.lp5{
      padding-top:50px;
    }

.lp6{
      padding-top:10px;    
    }
.lp1
    {
      text-align:left;
    }

.lp7 
    {
      text-align:center;
    }
.select1 
         {
            padding:6px;
            margin-top:2px;
         }

.spaceperp
          {
            height:180px;
          }

